.circle {
  width: 10rem;
  height: 10rem;
  margin: auto auto 1.25rem;
  border-radius: 50%;
  overflow: hidden;
  &.red {
    background: $logo-red;
  }
  &.blue {
    background: $ocean-blue;
  }
  &.green {
    background: $sea-green;
  }
  &.nick {
    background: image-url("images/nick.png");
    background-size: cover;
  }
  &.chris {
    background: image-url("images/chris-hammer.jpg");
    background-size: cover;
  }
  &.doug {
    background: image-url("images/doug-scholer.jpg");
    background-size: cover;
  }
  &.kurt {
    background: image-url("images/kurt-taylor.jpg");
    background-size: cover;
  }
  &.gt3 {
    background: image-url("images/gt3.jpg");
    background-size: cover;
  }
  &.gtsr {
    background: image-url("images/gtsr.jpeg");
    background-size: cover;
  }
  &.adam {
    background: image-url("images/adam-burke.jpg");
    background-size: cover;
  }
  &.jkerry {
    background: image-url("kerry.jpg");
    background-size: cover;
  }
  &.juddy {
    background: image-url("juddy.jpg");
    background-size: cover;
  }
  &.jon {
    background: image-url("jon.jpg");
    background-size: cover;
  }
  &.mikhail {
    background: image-url("mikhail.jpg");
    background-size: cover;
  }
  &.galen {
    background: image-url("galen.jpg");
    background-size: cover;
  }
}
