@font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot');
	src:font-url('icomoon.eot') format('embedded-opentype'),
		font-url('icomoon.ttf') format('truetype'),
		font-url('icomoon.woff') format('woff'),
		font-url('icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1rem;
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook {
	color: #3b5998;
	&:before {
		content: "\e600";
	}
}

.icon-google {
	color: #dd4b39;
	&:before {
		content: "\e601";
	}
}

.icon-instagram {
	color: #517fa4;
	&:before {
		content: "\e602";
	}
}

.icon-twitter {
	color: #00aced;
	&:before {
		content: "\e603";
	}
}

.icon-linkedin {
	&:before {
		content: "\e604";
	}
}
