footer {
  background: $logo-gray;
  padding: 2rem 0;
  img {
    width: 6rem;
    height: auto;
  }
  li {
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: .75rem;
    &:first-of-type {
      text-transform: uppercase;
      font-size: 1rem;
      a {
        color: $logo-red;
      }
    }
    a {
      color: white;
      transition: .25s;
      &:hover {
        color: $med-gray;
      }
    }
  }
}
