header {
  padding: 16rem 0;
  h1 {
    font-size: 7.5rem;
    line-height: 8rem;
  }
  @each $thingy in home, found, leaders, culture, advisors, career, answer, match, merchant, hotspot, about {
    &.#{$thingy} {
      background: url("/images/#{$thingy}.jpg") no-repeat center center;
      background-size: cover;
      background-attachment: fixed;
      @media (max-width: 767px) {
        &.#{$thingy} {
          background: url("/images/#{$thingy}.jpg") no-repeat center center;
          background-size: cover;
          background-attachment: scroll;
        }
      }
    }
  }
  .container {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #454647;
  }
}
