.row ~ .row {
  margin-top: 4rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.vert-center {
  display: flex;
  align-items: center;
  @media (max-width: 991px) {
    flex-direction: column;
    margin: auto;
    div {
      text-align: left !important;
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.visible-xs-block {
  margin-top: 0;
}
