nav {
  padding: .75rem 0;
  background: white;
  .logo {
    display: block;
    height: auto;
    width: 7rem;
  }
  ul {
    list-style-type: none;
    text-align: right;
  }
  li {
    display: inline-block;
    line-height: 2.0625rem;
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: .8rem;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: $med-gray;
      font-weight: 400;
      transition: color .3s;
      &:hover {
        color: $logo-red;
      }
    }
  }
}
