/* Type */
h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 400;
}

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 300;
}
