$logo-gray: rgb(179,179,179);
$logo-red: rgb(255,102,102);
$med-gray: rgb(70,70,70);
$light-gray: rbg(248,248,248);
$cloud-white: rgb(241,241,241);
$sea-green: rgb(110,180,209);
$ocean-blue: rgb(108,190,237);
