@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

@import "bootstrap";
@import "bootstrap-theme";

@import "animate";

@import "reset";
@import "variables";
@import "type";
@import "helpers";
@import "nav";
@import "header";
@import "footer";
@import "circle";
@import "fonts";

/* Basics */
body {
  background: $cloud-white;
  font-family: "Source Sans Pro";
  font-size: 1rem;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &.circled {
    display: inline-block;
    background: white;
    width: 1.75rem;
    height: 1.75rem;
    line-height: 1.5rem;
    text-align: center;
    border-radius: 50%;
    margin-right: .15rem;
    transition: .25s;
    &:hover {
      background: rgba(white, .5);
    }
  }
}

.resize {
  max-width: 100%;
  height: auto;
}

/* Section-specific styling */
section {
  padding: 8rem 0;
  p + p {
    margin-top: 1rem;
  }
  &+ section {
    padding-top: 0;
  }
  a {
    font-weight: 400;
    color: $logo-red;
    transition: .25s;
    &:hover {
      color: darken($logo-red, 20%);
    }
  }
}

.intro {
  h3 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.change {
  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.career-text {
  img {
    border-radius: .25rem;
  }
  .row ~ .row {
    margin-top: 1rem;
  }
}

.section-header {
  text-align: center;
  color: $logo-red;
  margin-bottom: .75rem;
  font-weight: 600;
  &.double-margin {
    margin-bottom: 1.5rem;
  }
}

.flexible {
  display: flex;
  flex-wrap: wrap;
}


.posting {
  width: 30%;
  margin: 1rem;
  padding: 1rem;
  background: white;
  border-radius: .25rem;
  p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: .5rem;
  }
  li {
    margin-bottom: .5rem;
    line-height: 1.2rem;
  }
}

.demo {
  max-width: 100%;
  height: auto;
}

.apply {
  margin: 1rem auto auto;
}

.alert {
  margin-top: 2rem;
  display: none;
}

label {
  margin-bottom: .5rem;
}

@media (max-width: 1200px) and (min-width: 900px) {
  .circle {
    width: 7rem;
    height: 7rem;
  }
}

@media (max-width: 767px) {
  nav {
    text-align: center;
    .logo {
      margin: auto auto .5rem;
    }
    ul {
      text-align: center;
    }
  }
  header {
    padding: 6rem 0;
    h1 {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }
  section {
    padding: 2rem 0;
  }
  .intro {
    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  .change {
    h3 {
      margin-bottom: 4rem;
    }
  }

  .career-text {
    .resize {
      margin: 1rem auto;
    }
  }

  .footer-logo {
    // margin-bottom: 2rem;
    margin: auto auto 2rem;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .posting {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .posting {
    width: 100%;
  }
}
