<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Name" %></title>

    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag "prefixfree.min", "jquery-2.1.3.min", "bootstrap.min", "wow.min", "app" %>
  </head>

  <body>
    <%= partial "partials/nav" %>
    <%= yield %>
    <%= partial "partials/footer" %>
  </body>
  <script>
    new WOW().init();
  </script>
</html>
