<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-12 footer-logo">
        <%= image_tag 'likeli-logo-white.svg' %>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-4">
        <ul>
          <li><%= link_to 'The Solution', 'solution.html' %></li>
          <li><%= link_to 'The Most Difficult Problem', 'solution.html#answer' %></li>
          <li><%= link_to 'Match With Confidence', 'solution.html#match' %></li>
          <li><%= link_to 'Likeli Hotspot', 'solution.html#hotspot' %></li>
          <li><%= link_to 'Merchant Services', 'solution.html#merchant' %></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-4">
        <ul>
          <li><%= link_to 'Who We Are', 'about.html' %></li>
          <li><%= link_to 'The Likeli Story', 'about.html#about' %></li>
          <li><%= link_to 'Leadership Team', 'about.html#leaders' %></li>
          <li><%= link_to 'Board of Advisors', 'about.html#advisors' %></li>
          <li><%= link_to 'Culture', 'about.html#culture' %></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-4">
        <ul>
          <li><%= link_to 'Careers', 'careers.html' %></li>
          <li><%= link_to 'Want to Work For Likeli?', 'careers.html#career' %></li>
          <li><%= link_to 'Open Positions', 'careers.html#positions' %></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 text-center">
        <a class="circled" href="https://www.facebook.com/pages/Likeli/803746936387652?fref=ts"><span class="icon-facebook"></a>
        <a class="circled" href="https://twitter.com/LikeliApp"><span class="icon-twitter"></a>
        <a class="circled" href="http://instagram.com/likeliapp?ref=badge"><span class="icon-instagram"></a>
        <a class="circled" href="https://www.linkedin.com/company/9472672?trk=tyah&trkInfo=clickedVertical%253Acompany%252CclickedEntityId%253A9472672%252Cidx%253A2-1-4%252CtarId%253A1439229787395%252Ctas%253Alikeli"><span class="icon-linkedin"></a>
        <a class="circled" href="https://plus.google.com/+LikeliApp/posts"><span class="icon-google"></a>
      </div>
    </div>
  </div>
</footer>
