<nav>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <% link_to 'index.html' do %>
          <%= image_tag 'likeli-logo.svg', :class=> 'logo' %>
        <% end %>
      </div>
      <div class="col-sm-8 col-xs-12">
        <ul>
          <li><%= link_to 'The solution', 'solution.html' %></li>
          <li><%= link_to 'Who we are', 'about.html' %></li>
          <li><%= link_to 'Careers', 'careers.html' %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
