---
title: Likeli | Who we are
---
<header class="about" id="about">
  <div class="container">
    <h1 class="wow fadeInUp">Who We Are</h1>
  </div>
</header>

<section class="story">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="section-header">The Likeli Story</h2>
        <p>A few years ago, like most college students, I created a Tinder account. Expectations were high and my approach was simple &mdash; be selective, view each photo, assess attraction, and swipe accordingly. I quickly got a few matches, and then had to come up with that catchy, yet appropriate, intro message. Unfortunately, my many “clever” variations yielded no response &mdash; fail!</p>
        <p>This made it clear that selecting solely on a photo meant one thing, and one thing only. Online dating was a numbers game. So I started swiping yes to every profile and of course, the matches began pouring in. With lots of potential dates, I started sifting through the masses and narrowed it down to 32 of whom I could actually hold a conversation with. And over the next couple of weeks, I scheduled dates with my favorites, and began meeting each one. I was certain that at least 1 of the 32 would be a winner, right? Wrong!</p>
        <p>Wondering if every dating site or app was this awful, I spent the next month trying them all. And I saw it all, costly subscription fees, fake profiles, outrageous pop up ads, lengthy surveys — it was so crazy it could have been a TV sitcom. But through this craziness I discovered the problem &mdash; everyone exaggerates the positives and neglects to mention the negatives. In other words, the profiles are all BS!</p>
        <p>And that’s how Likeli got started. We believe that what you do and say over time defines who you are, and so we automatically build your profile from your social channels &mdash; real life, real profiles. And from this we accurately score the likelihood of a relationship being successful. Problem solved.</p>
        <p>Welcome to Likeli!</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class='embed-container'>
          <iframe src='https://player.vimeo.com/video/131797934' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<header class="leaders" id="leaders">
  <div class="container">
    <h1 class="wow fadeInUp">Leadership Team</h1>
  </div>
</header>

<section class="leadership-team">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="circle gt3 wow fadeInLeft">
        </div>
      </div>
      <div class="col-md-8">
        <h2>George Taylor III</h2>
        <h3>Founder/CEO</h3>
        <p>George also led the development of National Speed’s unique management software and knowledge base which efficiently manages the complex shop operations. This proprietary technology is the enabler that will allow the Company to scale stores across the US, and become the first national brand in this space.</p>
        <p>After leading National Speed for 18 months, George made a most difficult decision to leave the company to found Likeli. He spent six months transitioning the new CEO, and continues to actively engage with National Speed as a Member of the Board. The company continues to grow and accelerate!</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="circle galen wow fadeInLeft">
        </div>
      </div>
      <div class="col-md-8">
        <h2>J. Galen Buckwalter</h2>
        <h3>“The Science Guy”</h3>
        <p>Galen is an entrepreneur, a researcher, a professor and industry paragon of data. Best known, perhaps, as the Founding eHarmony CSO -- the creator of the technology behind ostensibly the world’s most innovative relationship software company. He is now Chief Science Officer at Payoff.com where he’s developing classical and gamefied psychometric assessments and profiling methods to minimize risk associated with financial loans.</p>
        <p>He is also Founder and CEO of Gumption, LLC, a private angel fund and startup consultation firm, and a Research Scientist at the Institute for Creative Technologies at University of Southern California where he is applying machine learning and neural network techniques to the understanding of allostatic load, which can be described as the physiological fingerprint of stress.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="circle jkerry wow fadeInLeft">
        </div>
      </div>
      <div class="col-md-8">
        <h2>Kerry Knight</h2>
        <h3>Lead iOS Developer</h3>
        <p>Kerry has worn many hats over the years, from web designer to biostatistical programmer to mobile developer. He wrote his first iPhone app in 2009 after seeing one of those "There's an app for that" iPhone commercials and hasn't looked back.</p>
        <p>Since then, he's held mobile development positions at various-sized companies, including a boutique development shop as well as a large NASDAQ-traded enterprise software company. He now brings his varied experience to lead the development effort of Likeli's mobile app.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="circle jon wow fadeInLeft">
        </div>
      </div>
      <div class="col-md-8">
        <h2>Jonathan Weiss</h2>
        <h3>Lead UI/UX</h3>
        <p>Jonathan entered the world of development back in 2007, building websites for small businesses. With a diverse education and work history, Jonathan is a seasoned software designer and developer with a focus on user experience. In the past, he's held front-end development, marketing and user experience positions at various-sized companies, including a publicly traded financial institution where he was the Lead UI / UX Developer overseeing projects generating more than $600MM (both mobile and desktop applications).</p>
        <p>He has led teams of creative individuals and developers to bring some amazing products to market. Today, Jonathan brings his varied experience to lead the user experience and user interface design of Likeli's mobile app.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="circle mikhail wow fadeInLeft">
        </div>
      </div>
      <div class="col-md-8">
        <h2>Mikhail Gorelkin</h2>
        <h3>Lead Data Scientist</h3>
        <p>Mikhail is a computer scientist, software architect, and developer specializing in algorithm and AI engineering with over 20 years of experience. He has worked on projects ranging from word sense disambiguation, Twitter hashtag decomposition, topic modeling, and sentiment analysis on Twitter, to matching people with complementary interests for online events.</p>
        <p>He has also researched, evaluated, and designed conceptual models based on DARPA projects. His vast experience with NLP, Deep Learning and AI has made him an asset to the Likeli team.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="circle gtsr
         wow fadeInLeft">
        </div>
      </div>
      <div class="col-md-8">
        <h2>George Taylor</h2>
        <h3>Chairman</h3>
        <p>George Taylor (father) is Likeli’s Chairman. George is a serial entrepreneur having founded or co-founded nine startups over the past 30 years ranging from breakthrough technology to automotive performance. George is excited to be part of bringing one more to life.</p>
        <p>Of the nine startups he founded, he had three sold in private transactions, one NASDAQ IPO, one NASCAR team (more of a bad habit than a business), one failed attempt, two active and growing and one just getting started &mdash; Likeli!</p>

      </div>
    </div>
  </div>
</section>

<header class="advisors" id="advisors">
  <div class="container">
    <h1 class="wow fadeInUp">Board of Advisors</h1>
  </div>
</header>

<section class="advising-team">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="circle adam wow fadeInLeft">
        </div>
      </div>
      <div class="col-md-8">
        <h2>Adam Burke</h2>
        <p>Adam Burke is an entrepreneur, advisor and investor who’s been/is involved with dozens of successful startups. Adam was COO of PBM Products which sold in 2011 for $808M, and before that was Managing Director at General Electric.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="circle kurt wow fadeInLeft">
        </div>
      </div>
      <div class="col-md-8">
        <h2>Kurt Taylor</h2>
        <p>Kurt Taylor is the Founder and CEO of Next Glass, a successful data and analytics company that delivers machine-learning driven ratings and recommendations to consumers, and breakthrough marketing, curations, and product development tools to breweries, wineries, merchants, distributors, and restaurants. Kurt has proven experience in marketing and distribution of consumer apps, as well as other business areas that relate to Likeli.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="circle doug wow fadeInLeft">
        </div>
      </div>
      <div class="col-md-8">
        <h2>Doug Scholer</h2>
        <p>Doug Scholer is a principal at the Toler Law Group, a top 5 law firm specializing in intellectual property. Doug is an expert in technology-based IP, and works closely with many of the leading Fortune 500 companies. Doug has proven experience in developing successful IP strategies for technology companies and is working with Likeli in this regard.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="circle chris wow fadeInLeft">
        </div>
      </div>
      <div class="col-md-8">
        <h2>Chris Hammer</h2>
        <p>Chris Hammer is Vice-President - Media Product Leadership at The Nielsen Company, a world leader in consumer data and analytics. Chris has over 16 years of experience in the areas of data integration, new product development, data partnerships, data monetization and consumer and media market research.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="circle nick wow fadeInLeft">
        </div>
      </div>
      <div class="col-md-8">
        <h2>Nick Poorman</h2>
        <p>Nick Poorman is the leading Data Scientist at Next Glass. He designed and implemented near real-time machine learning, providing over 1.5 billion ratings and recommendations monthly to Next Glass users. His experience has placed him on boards spanning from the engineering advisory board for his alma mater, to the executive boards of companies and organizations in the yachting and maritime industry.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="circle juddy wow fadeInLeft">
        </div>
      </div>
      <div class="col-md-8">
        <h2>Juddy Arnold</h2>
        <p>Juddy Arnold is a serial entrepreneur, adventurer, and founding partner of Insight Profiling. An expert in human connection and authentic communication, he's helped people build better businesses, better relationships, and better lives for over a decade. His work in identifying and understanding the differences between how people publicly represent themselves and who they really are is directly aligned with Likeli's mission.</p>
      </div>
    </div>

  </div>
</section>

<header class="culture" id="culture">
  <div class="container">
    <h1 class="wow fadeInUp">The Likeli Culture</h1>
  </div>
</header>

<section class="what-likeli-is-like">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="section-header">What Likeli is Like</h2>
        <p>The Likeli culture is simple but powerful &mdash; we believe in freedom and responsibility. And while we have a cool office space and lots of great perks, we know that our culture is much more than that and instead comes from the super-smart people we work with and our drive to solve important problems in unique ways. We strive to hire great people who take responsibility for delivering creative, excellent work. And in return, we offer the freedom to operate in whatever way works for them. We’re interested in and reward great outcomes, not hours logged or some bureaucratic/political metric.
        <p>We’re huge fans of Reed Hastings and the Netflix culture, and are grateful to Reed for “open-sourcing” his <a href="http://www.slideshare.net/reed2001/culture-1798664" target="_blank">culture presentation</a>. It's perfect, so we took it, made some changes, and made it our own.</p>
      </div>
    </div>
  </div>
</section>
