---
title: Likeli | Careers
---
<header class="career" id="career">
  <div class="container">
    <h1 class="wow fadeInUp">Careers</h1>
  </div>
</header>

<section class="career-text">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="section-header">Want to Work for Likeli?</h2>
        <p>We can’t blame you, we’re pretty excited about it too!</p>

        <div class="row">
          <div class="col-sm-8">
            <p>Based in Wilmington, North Carolina, we‘re a beach town to some of the best surf on the East Coast. Delivering talent to film festivals and street fairs, Wilmington also prides itself in outstanding food and breweries, a movie studio, and long miles to run, ride, and extended waterways to paddle; and did we mention the beach?</p>
          </div>
          <div class="col-sm-4">
            <%= image_tag 'wrightsville-beach.jpg', :class=> 'resize' %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-push-4">
            <p>In our office we take our work seriously. After all, it’s serious work making sure everyone in the world is happy with great relationships. We’re all creative problem solving, A-Team workers who thrive on challenges, and we know how to celebrate our victories. We know relationships, and we know our tools even better &mdash; we’re really stoked about forming a kickass team and building this technology to be the best in its class!</p>
          </div>
          <div class="col-sm-4 col-sm-pull-8">
            <%= image_tag 'Biking.jpg', :class=> 'resize' %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <p>Our office is the exact kind of place you want to work &mdash; mostly because of the great people and challenging problems, but also for the environment. If you don’t believe us, would the gym convince you? How about daily company sponsored lunches? No? Then check out the fridge full of Red Bulls, iced coffees, and all the things needed to pull you through the day (or night); we work hard. Spend some time in the think tank, take a break in the game room, or grab a glass of wine and relax on the rooftop cabana overlooking historic downtown, it’s up to you. Still not convinced? We also provide wine and beer allowances and free massage Wednesdays! But that’s just where we are. It’s where we are going that is so exciting. Join our team and help us get there!</p>
          </div>
          <div class="col-sm-4">
            <%= image_tag 'Surfing.jpg', :class=> 'resize' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="positions" id="positions">
  <div class="container">
    <h2 class="section-header">Open Positions</h2>
    <br />
    <div class="row flexible">
      <% data.positions.position.each do |p| %>
        <div class="posting">
          <h3><%= p.name %></h2>
          <p><%= p.desc %></p>
          <ul>
            <% p.traits.each do |t| %>
            <li><%= t %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="section-header">Want to Apply?</h2>
        <p>Our team is growing fast. If you're great at what you do and want to work with an amazing team to change an industry through awesome data and technology, then we want to hear from you. Fill out the form and we'll be back in touch with you shortly.</p>
        <div class="col-md-6 col-md-offset-3 text-center">
          <button type="button" class="btn-lg btn-danger apply" data-toggle="modal" data-target="#myModal">Apply for one of our positions</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="alert alert-success" role="alert"><strong>Awesome!</strong> Thanks for your interest, we'll be in touch soon!</div>
      </div>

  </div>
</section>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Apply for open position</h4>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="position">Desired position</label>
            <input type="text" class="form-control" name="position" id="position" placeholder="Enter position">
          </div>
          <div class="form-group">
            <label for="website">Website</label>
            <input type="text" class="form-control" name="website" id="website" placeholder="Portfolio, Github or LinkedIn URL">
          </div>
          <div class="form-group">
            <label for="message">Tell us about yourself</label>
            <textarea class="form-control expando" rows="10" name="message" id="message" placeholder="Tell us a little about yourself and why you'd be a good fit for Likeli!"></textarea>
          </div>
          <div class="alert alert-warning" role="alert"><strong>Whoops!</strong> There appears to be an issue, check your form and try again.</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-success" value="Send!">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
