---
title: Likeli
---
<header class="home">
  <div class="container">
    <h1 class="wow fadeInUp">Looking for Great Relationships?</h1>
  </div>
</header>

<section class="intro">
  <div class="container">
    <div class="row vert-center">
      <div class="col-md-2 col-md-offset-1">
        <div class="circle red wow zoomIn">
          <img src="images/heart.svg" />
        </div>
      </div>
      <div class="col-md-8">
        <h3>It doesn’t matter who or where you are, successful relationships are at the core of everyone’s happiness.</h3>
      </div>
    </div>
    <div class="row vert-center">
      <div class="col-md-2 col-md-offset-1 col-md-push-8">
        <div class="circle green wow zoomIn">
          <img src="images/world.svg" />
        </div>
      </div>
      <div class="col-md-8 col-md-pull-2 text-right">
        <h3>The problem is there's a lot of us, we're all different and the world is a big place. This complexity makes forming successful relationships a difficult &mdash; and sometimes painful &mdash; matter of trial and error.</h3>
      </div>
    </div>
  </div>
</section>

<header class="found">
  <div class="container">
    <h1 class="wow fadeInUp">Real Input.<br />Real Matches.</h1>
  </div>
</header>

<section class="key-points">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="section-header double-margin">Likeli Scores the Potential of Any Relationship Being Successful</h2>
        <div class='embed-container'>
          <iframe src='https://player.vimeo.com/video/131797934' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="change">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="section-header">Innovative and Powerful Technology</h2>
        <p>Likeli has developed a distributed architecture, capable of scaling to millions of transactions. And our patent-pending method of attributing hundreds of thousands of data points to build user profiles with real-life data from their social networks, is the only example in the market of a rich and objective profile. This profile is combined with machine-learning software which delivers accurate scores on the likelihood of a new relationship being successful. A tad bit of magic, and lots of fun!</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="circle blue wow fadeInDown">
          <img src="images/gear.svg"/>
        </div>
        <h3>Sophisticated<br />Machine-Learning Software</h3>
      </div>
      <div class="col-md-4">
        <div class="circle green wow fadeInDown" data-wow-delay=".3s">
          <img src="images/network.svg"/>
        </div>
        <h3>Connects<br />People to Their Right Matches</h3>
      </div>
      <div class="col-md-4">
        <div class="circle red wow fadeInDown" data-wow-delay=".6s">
          <img src="images/graph.svg"/>
        </div>
        <h3>Infrastructure<br />Highly Elastic and Scalable</h3>
      </div>
    </div>
  </div>
</section>
