---
title: Likeli | The Solution
---
<header class="answer" id="answer">
  <div class="container">
    <h1 class="wow fadeInUp">The Solution</h1>
  </div>
</header>

<section class="answer-text">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
        <h2 class="section-header">The Answer to the Most<br />Difficult Problem</h2>
        <p>How do you find great relationships?  This question is universal and in the minds of millions of people around the world each day. Unfortunately, the only solutions available are superficial dating platforms and outdated matching surveys &mdash; until now…</p>
        <p>Likeli believes a person is best defined by what they say and do over time, and so we build objective profiles by looking at your social channels. Real-life data, great relationship matches!</p>
      </div>
      <div class="col-md-3 col-md-offset-1 col-sm-6 hidden-xs wow slideInRight">
        <%= image_tag 'phone-front.png', :class=> 'demo' %>
      </div>
    </div>
    <div class="row visible-xs-block">
      <div class="col-xs-8 col-xs-offset-2 wow slideInLeft">
        <%= image_tag 'phone-front.png', :class=> 'demo' %>
      </div>
    </div>
  </div>
  </div>
</section>

<header class="match" id="match">
  <div class="container">
    <h1 class="wow fadeInUp">Match with Confidence</h1>
  </div>
</header>

<section class="match-text">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-1 col-sm-6 hidden-xs wow slideInLeft">
        <%= image_tag 'phone-back.png', :class=> 'demo' %>
      </div>
      <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
        <h2 class="section-header">What Matters is What You Do</h2>
        <p>Everyone wants great relationships, but finding them is difficult and a matter of trial and error. Today's solutions either match people on physical attraction (Tinder) or on user supplied information (Match, E-Harmony) which is typically exaggerated or untruthful. The result is that matches are unreliable, and it takes many uncomfortable "tries" to find one great relationship.</p>
        <p>Likeli solves this problem. Instead of lengthy questionnaires and exaggerated profiles, Likeli believes what you do and say in the world is more indicative of who you are than curated questionnaire answers or that perfect selfie. We attribute thousands of data points from your social channels, and combine that with machine-learning to deliver accurate scores for the potential of any relationship &mdash; real life profiles, meaningful relationships.</p>
      </div>
    </div>
    <div class="row visible-xs-block">
      <div class="col-xs-8 col-xs-offset-2 wow slideInLeft">
        <%= image_tag 'phone-back.png', :class=> 'demo' %>
      </div>
    </div>
  </div>
</section>

<header class="hotspot" id="hotspot">
  <div class="container">
    <h1 class="wow fadeInUp">Likeli Hotspot</h1>
  </div>
</header>

<section class="hotspot-text">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="section-header">Find the Right People in the Right Places</h2>
        <p>Don’t know where to go for a drink? No problem. Likeli Hotspot allows users to discover places with the highest likelihood of meeting new friends or dates and avoid places with less likely results. Now you can go out with confidence knowing you are surrounded by people you will enjoy.</p>
      </div>
    </div>
  </div>
</section>

<header class="merchant" id="merchant">
  <div class="container">
    <h1 class="wow fadeInUp">Data-driven Marketing Services</h1>
  </div>
</header>

<section class="merchant-text">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="section-header">Insightful Analytics and Targeted Marketing</h2>
        <p>Likeli knows its users well, and is crazy about protecting their privacy and ensuring they only receive offers and opportunities that are in context and tailored to them. With that, we deliver targeted in-app marketing opportunities as well as insightful analytics, making it easier than ever to reach the right consumers and gain accurate measures on how well your campaign is performing. This all adds up to significantly better conversion rates and a more satisfying user experience.</p>
      </div>
    </div>
  </div>
</section>
